.form {
    position: relative;
    height: 50px;
    width: 50%;
    overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top:20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}

.form label::after {
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    left: 0;
    bottom: -2px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.contentName {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition:all 0.3s ease;
}

.form input:focus + .labelName .contentName, .form input:valid + .labelName .contentName{
    transform: translateY(-120%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .labelName::after,
.form input:valid + .labelName::after {
    transform: translateX(0%);
}