.outer {
    width: 500px;
    height: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--surface1);
    gap: 5em;
    transition: all 0.5s ease-in-out;
}

.container {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
button {
    background-color: var(surface1);
    padding: 20px 30px;
    font-size: 16px;
    color: var(--element1);
}
button:active {
    transform: scale(98%);
}
.item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.item1 {
    background-color: var(--primary);
}
.item2 {
    background-color: var(--secondary);
}
.item3 {
    background-color: var(--tertiary);
}

.outer[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
  }
  
  /* Dark Mode */
.outer[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
  }